services:

  broker:
    image: apache/kafka:latest
    hostname: broker
    container_name: broker
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_LISTENERS: PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
    healthcheck:
      test: [ "CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - ordermatchnetwork

  postgresql:
    image: postgres
    hostname: postgres
    container_name: postgres
    env_file:
      - .env
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=${PG_DB-db01}
      - POSTGRES_USER=${PG_USERNAME-admin}
      - POSTGRES_PASSWORD=${PG_PASSWORD-admin}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USERNAME:-admin} -d ${PG_DB:-db01}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./scripts/pg-scripts:/docker-entrypoint-initdb.d/
    networks:
      - ordermatchnetwork

  mongodb:
    image: mongo
    hostname: mongodb
    container_name: mongodb
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
      #- MONGO_INITDB_DATABASE=DB01
    #volumes:
      #- ./scripts/mongo-scripts/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
      #- ./scripts/mongo-scripts/:/docker-entrypoint-initdb.d/
    networks:
      - ordermatchnetwork

  mongo-express:
    image: mongo-express
    hostname: mongo-express
    container_name: mongo-express
    ports:
      - 8081:8081
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=admin
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin
    networks:
      - ordermatchnetwork

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    hostname: keycloak
    container_name: keycloak
    env_file:
      - .env
    ports:
      - "5000:8080"
    environment:
      KEYCLOAK_ADMIN: ${KC_ADMIN_USER:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KC_ADMIN_PASSWORD:-admin}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgresql:5432/keycloak
      KC_DB_USERNAME: ${KC_DB_USER:-admin}
      KC_DB_PASSWORD: ${KC_DB_PASSWORD:-admin}
      KC_HOSTNAME: localhost #keycloak
      KC_HOSTNAME_STRICT: "false"
      KC_HTTP_ENABLED: "true"
      KC_HEALTH_ENABLED: "true"
      KC_METRICS_ENABLED: "true"
    healthcheck:
      test: ["CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/8080 && echo -e 'GET /health/ready HTTP/1.1\r\nHost: localhost\r\nConnection: close\r\n\r\n' >&3 && cat <&3 | grep 'HTTP/1.1 200 OK'"]
      start_period: 30s
      interval: 10s
      timeout: 5s
      retries: 10
    command:
      - start-dev
    depends_on:
      postgresql:
        condition: service_healthy
    networks:
      - ordermatchnetwork

  terraform-provisioner:
    image: hashicorp/terraform:latest
    container_name: terraform-provisioner
    volumes:
      - .:/workspace
    working_dir: /workspace
    entrypoint: ["/bin/sh", "-c"]
    env_file:
      - .env
    healthcheck:
      test: [ "CMD", "terraform", "--version" ]
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 5s
    command:
      - "terraform init && terraform apply -auto-approve"
    depends_on:
      keycloak:
        condition: service_healthy
    networks:
      - ordermatchnetwork

  prometheus:
    image: prom/prometheus:latest
    hostname: prometheus
    container_name: prometheus
    ports:
      - 9090:9090
    volumes:
      - ./scripts/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - orderfront
      - matchingengine
      - orderbook-microservices-apigateway
    networks:
      - ordermatchnetwork

  grafana:
    image: grafana/grafana:latest
    ports:
      - 3000:3000
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./scripts/monitoring/grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
    networks:
      - ordermatchnetwork

  orderfront:
    build: ./orderfront
    image: orderfront:1.0
    environment:
      - JVM_OPTS=-Xmx1024M
    deploy:
      resources:
        limits:
          memory: 1053M
    depends_on:
      - broker
    ports:
      - "4000:4000"
    networks:
      - ordermatchnetwork

  matchingengine:
    build: ./matchingengine
    image: matchingengine:1.0
    environment:
      - JVM_OPTS=-Xmx1536M
    deploy:
      resources:
        limits:
          memory: 2024M
    depends_on:
      broker:
          condition: service_healthy
    ports:
      - "4001:4001"
    networks:
      - ordermatchnetwork

  orderbook-microservices-apigateway:
    build: ./orderbook-microservices-apigateway
    image: orderbook-microservices-apigateway:1.0
    environment:
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/orderbook-realm
      - JAVA_OPTS=-Xms512m # heap size capped to 512MB
    deploy:
      resources:
        limits:
          memory: 1536M
    depends_on:
      terraform-provisioner:
        #this is a short running service, it won't retain healthy status
        condition: service_completed_successfully   #service_healthy
      postgresql:
        condition: service_healthy
      keycloak:
        condition: service_started
    ports:
      - "4999:4999"
    networks:
      - ordermatchnetwork



volumes:
  pgdata:


networks:
  ordermatchnetwork:
    driver: bridge