spring:
  application:
    name: orderbook-microservices-apigateway
  datasource:
    url: jdbc:postgresql://localhost:5432/db01
    username: admin
    password: admin
  cloud:
    gateway:
      routes:
        - id: matching-engine
          uri: http://matchingengine:4001
          predicates:
            - Path=/match-engine/**
          filters:
            - StripPrefix=1

        - id: order-book
          uri: http://orderfront:4000
          predicates:
            - Path=/order-book/**
          filters:
            - StripPrefix=1

###monitoring begin
management:
  endpoints:
    web:
      exposure:
        include: "health,metrics,prometheus"

  endpoint:
    prometheus:
      enabled: true

  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true  # for detailed latency histograms


###monitoring end

server:
  port: 4999





## pg_db connection properties
#spring.datasource.url=jdbc:postgresql://localhost:5432/db01
#spring.datasource.username=admin
#spring.datasource.password=admin

